*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Dropdown*/

.dropdown-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.dropbtn {
    padding: 10px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown.active .dropdown-content {
    display: block;
}

.list-dropdown {
    list-style: none;
}

.list-dropdown li {
    padding: 10px 25px;
}

.list-dropdown li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.list-dropdown li:hover {
    background-color: rgb(173, 178, 178);
}

/*Collaps*/

.collaps-container{
    margin: 200px 300px;
    outline: 1px solid rgb(59, 59, 59);
    
}


.collaps-tittle{
    background-color: rgb(221, 222, 223);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    outline: 1px solid rgb(158, 152, 152);
    font-weight: 100;
}

.collaps-tittle ~ p{
    padding: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.collaps-tittle:hover{
    cursor: pointer;
}

.collaps-content{
    display: none;
}

.collaps-content.active{
    display: block;
}



 /* MODAL */

.buttonModal{
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color:black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

.buttonModal:hover{
    cursor: pointer;
}

 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
  }

  .modal-content h2,p{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }  
  .btnModal{
    padding: 7px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .btnModal:hover{
    cursor: pointer;
    background-color: #aaa;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  